<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <form action="http://localhost:8080/">
        <input type="submit" value="Go main screen" />
    </form>
</head>

<body>
<h1>About us</h1>
We are a local compnay dedicated to providing the best prices on indviudal computer parts as well as prebuilt computers.
<p>Our mission is to have the customer leave the store with exactly what they need at the best prices around.</p>
We offer a wide range of computer parts.
<br>Below is a small list of what we offer:</br>
<ul>
    <li>Cpu</li>
    <li>Motherboards</li>
    <li>Power supplies</li>
    <li>Video cards</li>
    <li>Ram</li>
</ul>
<p>Below is a list of brands we carry:</p>
<ul>
    <li>Intel</li>
    <li>Amd</li>
    <li>Nividia</li>
    <li>Evga</li>
    <li>MSI</li>
    <li>Asus</li>

</ul>
</body>
</html>